QPushButton, QToolButton{
background-color: @maya_button_background;
color: @maya_white_text;
border: none;
}
QPushButton::hover{
background-color: @maya_button_hover;
border: 2px solid @maya_blue_selection;
}
QPushButton::pressed{
background-color: @maya_button_clicked;
}