QWidget{
background-color: @primary_75;
}
QLineEdit{
color: @maya_white_text;
background-color: @primary_25;
border: none;
}
QLabel{
color: @maya_white_text;
font-weight: 900;
background-color: transparent;
}
